  body{
    background: transparent
  }
  html, body, #wrapper {
    margin: 0;
    padding: 0;
  }
  .audio{
    display: none;
  }
  .fa{
    color: #00888A;
  }
  .som{
      width: 20px;
      position: absolute;
      z-index: 2;
      margin: 23px 0 0 15px;
  }
  .som a{
    padding:5px
  }
  .btn:active{
    box-shadow:none
  }
  .btn-block{
    width: 15px;
    float: left;
    margin: 10px -5px;
  }
  .iconeFala{
    width:100%;
    right:10px
  }
  .box-header{
    background-color:#3c8dbc;
  }
  .box-header .box-title{
      color:#fff;
      font-size: 25px;
  }
  .box{
    background-color: transparent;
    margin-bottom:0
  }
  .box.box-primary{
    border-top-color:#3c8dbc;
  }
  .box-header.with-border{
    border:0
  }
  #wrapper {
    background-color: #ecf0f1;
  }
  #chat_box {
    box-sizing: border-box;
    height:80%;
    overflow: auto;
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .direct-chat-text{
    background: #d2d6de;
    border: 1px solid #d2d6de;
  }
  .direct-chat-text:after, .direct-chat-text:before{
    border-right-color: #d2d6de;
  }
  .direct-chat-text, .right .direct-chat-text, .direct-chat-msg{
          margin:0
  }
  .direct-chat-primary .right>.direct-chat-text{
    background: #11605C;
    border-color: #11605C;
    color:#fff;
  }
  .direct-chat-primary .right>.direct-chat-text:after, .direct-chat-primary .right>.direct-chat-text:before{
    border-left-color: #11605C;
  }
  #footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #2980b9;
  }
  .btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
  }
  .btn-primary.focus, .btn-primary:focus{
    background-color: #3c8dbc;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary.hover{
    background-color: #367fa9;
  }
  .box-footer{
    background-color: #d2d6de;
  }
  #footer .content {
    padding-top: 4px;
    position: relative;
  }

  #user { width: 20%; }
  #message { //width: 68%; }
  #send_btn {
   // width: 10%;
    //position: absolute;
    //right: 0;
    //bottom: 0;
    //margin: 0;
  }

  .content {
    width: 100%;
    margin: 0 auto;
    min-height:300px;
  }

  #system,
  .username {
    color: #aaa;
    font-style: italic;
    font-family: monospace;
    font-size: 16px;
  }
  .direct-chat-msg{
    margin-bottom:0;
  }
  .escrevendo-img{
    width:45px
  }
  .dataHora{
    text-align:right;
    color:#868686;
    font-size:12px
  }
  .dataHoraUser{
    text-align:left;
    color:#868686;
    font-size:12px;
  }
  .erro{
    border:2px solid #f00!important;
  }
  .ok{
    border:0px!important;
  }
  @media (min-width: 992px){
    .col-md-3 {
      width: 50%;
      margin: 0 auto;
      float: none;
    }
  }
  @media(max-width: 780px) {
    #footer { height: 91px; }
    #chat_box { padding-bottom: 91px; }

    #user { width: 100%; }
    #message { width: 80%; }
  }

  @media(max-width: 400px) {
    #footer { height: 135px; }
    #message { width: 100%; }
    #send_btn {
      position: relative;
      width: 100%;
    }
    #chat_box {height:70%;}
  }