<div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border" style="text-align: center;">
        <h3 class="box-title">PREVBOT</h3>
    </div>
    <form ng-submit="FC.restartChat()">
        <div id="corpo" class="content avaliacao">

            <p>{{FC.messageExit}}</p>

            <div style="text-align:center;margin-top:25px">
                <button type="submit" class="btn btn-primary btn-flat">
                    Conversar novamente
                </button>&nbsp;&nbsp;
                <button type="reset" ng-click="FC.restartUser()" class="btn btn-primary btn-flat">
                    Finalizar
                </button>
            </div>

            <div class="social-auth-links text-center">
                <div class="alert alert-danger" role="alert" ng-if="errorMessage">{{errorMessage}}</div>
            </div>
        </div>
    </form>
</div>